In [77]:
#before using this you need to make a link-breaked version of the roads in yoru database with the osm2pgrourting tool. 
#before use it requires a security setup: (for security reasons it wqill only run on a database which has a password setup):
#$ sudo -u postgres psql
# \password
# (enter 'postgres' for the password twice)
# Ctrl-D (to exit psql)
#Then run the link-breaking with:
#$ osm2pgrouting -f data/dcc.osm -d mydatabasename -W postgres
#you also need to do
# $ psql -d mydatabasename
# CREATE EXTENSION pgrouting
#in psql, to enable postgres routing extension.

##This code has cleaned detection table with exceptions and it can find the OD flow-OD distance relation ##Task 1

import psycopg2
import pandas as pd
import geopandas as gpd
import pyproj
import os,re,datetime
from matplotlib.pyplot import *
con = psycopg2.connect(database='mydatabasename', user='root')
cur = con.cursor()
wgs84  = pyproj.Proj(init='epsg:4326')  #WGS84
bng    = pyproj.Proj(init='epsg:27700') #british national grid
import pandas.io.sql as psql # To read sql files
#import random
#from random import randint
print ("import complete")

import complete

In [4]:
#Importing Geometries

def importRoads():     #(data has come from openstreetmap, then ogr2ogr )
    print("importing roads...")
    sql = "DROP TABLE IF EXISTS Road;"
    cur.execute(sql)
    sql = "CREATE TABLE Road (name text, geom geometry, highway text);"
    cur.execute(sql)
    fn_osm_shp = "/headless/data/dcc.osm.shp/lines.shp"
    df_roads = gpd.GeoDataFrame.from_file(fn_osm_shp)
    df_roads = df_roads.to_crs({'init': 'epsg:27700'})
    for index, row in df_roads.iterrows():
        sql="INSERT INTO Road VALUES ('%s', '%s', '%s');"\
        %(row.name, row.geometry, row.highway )
        cur.execute(sql)
    con.commit()
    print ("Roads imported")

importRoads()

importing roads...
Roads imported

In [5]:
##Creating list of BT sites table
def importBluetoothSites():
    print("importing sites...")
    sql = "DROP TABLE IF EXISTS BluetoothSite;"
    cur.execute(sql)
    sql = "CREATE TABLE BluetoothSite ( id serial PRIMARY KEY, siteID text,\
    geom geometry);"
    cur.execute(sql)
    con.commit()    
    fn_sites = "/headless/data/dcc/web_bluetooth_sites.csv"
    df_sites = pd.read_csv(fn_sites, header=1)   #dataframe. header is which row to use for the field names.
    for i in range(0, df_sites.shape[0]):      #munging to extract the coordinates - the arrive in National Grid
        locationstr = str(df_sites.iloc[i]['Grid'])
        bng_east  = locationstr[0:6]
        bng_north = locationstr[6:12]
        sql = "INSERT INTO BluetoothSite (siteID, geom) \
        VALUES ('%s', 'POINT(%s %s)');"%(df_sites.iloc[i]['Site ID'], \
        bng_east, bng_north )
        cur.execute(sql)
    con.commit()        
    print ("BT Sites imported")
importBluetoothSites()

importing sites...
BT Sites imported

In [6]:
##Importing BTsite detection site CSVs and cleaning the repetitive counts, 
##with some exceptions of alternate detections


def importDetections():
    print("importing detections...")
    sql = "DROP TABLE IF EXISTS detection_clean;"
    cur.execute(sql)    
    sql = "CREATE TABLE detection_clean ( id serial, siteID text, mac text, \
    timestamp timestamp );"
    cur.execute(sql)    
    dir_detections = "/headless/data/dcc/bluetooth/"
    for fn in sorted(os.listdir(dir_detections)):  #importing all BT sensor files
        print("processing file: " +fn)
        m = re.match("vdFeb14_(.+).csv", fn)  #extracting CSVs matching the file names
        if m is None:  #if there was no regex match then continue
            continue   
        siteID = m.groups()[0]
        fn_detections = dir_detections+fn
        #dataframe.header is which row to use for field names-fn
        df_detections = pd.read_csv(fn_detections, header=0)
        prev_ts = "" #empty string for timestamp
        prev_mac = ""#empty string for mac
        for i in range(0, df_detections.shape[0]): 
            #here we use Python's DateTime library to store times properly
            datetime_text = df_detections.iloc[i]['Unnamed: 0']
            #proper Python datetime  
            dt = datetime.datetime.strptime(datetime_text, "%d/%m/%Y %H:%M:%S") 
            
            if prev_ts == "":
                prev_ts = dt
                prev_mac = df_detections.iloc[i]['Number Plate']
                #continue
            else:
                cur_ts = dt
                cur_mac = df_detections.iloc[i]['Number Plate']
                #print (cur_ts)
                diff = cur_ts - prev_ts #difference in timestamps
                #print (cur_ts, prev_ts, cur_mac, prev_mac, diff)
                if cur_mac == prev_mac and diff.seconds<60:
                    continue
                else:
                    prev_mac = df_detections.iloc[i]['Number Plate']
                    prev_ts = dt
                    
            sql = "INSERT INTO detection_clean (siteID, timestamp, mac) VALUES ('%s', '%s', '%s');"\
            %(siteID, dt, df_detections.iloc[i]['Number Plate'])
            cur.execute(sql)
            #print(siteID, dt, df_detections.iloc[i]['Number Plate'])
        
        table = psql.read_sql("SELECT * FROM detection_clean", con)
        # print(table)
        print ("Length of  table: ", len(table), df_detections.shape[0])
    con.commit()
    
    print("Cleaning done")
    
importDetections()

importing detections...
processing file: vdFeb14_MAC000010100.csv
Length of  table:  2955 4521
processing file: vdFeb14_MAC000010101.csv
Length of  table:  7098 5946
processing file: vdFeb14_MAC000010102.csv
Length of  table:  10885 5598
processing file: vdFeb14_MAC000010103.csv
Length of  table:  10960 87
processing file: vdFeb14_MAC000010104.csv
Length of  table:  17865 9356
processing file: vdFeb14_MAC000010105.csv
Length of  table:  21017 4763
processing file: vdFeb14_MAC000010106.csv
Length of  table:  24635 5634
processing file: vdFeb14_MAC000010107.csv
Length of  table:  28373 5664
processing file: vdFeb14_MAC000010108.csv
Length of  table:  36727 10728
processing file: vdFeb14_MAC000010109.csv
Length of  table:  44144 9882
processing file: vdFeb14_MAC000010110.csv
Length of  table:  47665 5256
processing file: vdFeb14_MAC000010111.csv
Length of  table:  51037 5398
processing file: vdFeb14_MAC000010112.csv
Length of  table:  55847 7169
processing file: vdFeb14_MAC000010113.csv
Length of  table:  65715 13280
processing file: vdFeb14_MAC000010114.csv
Length of  table:  75783 13593
processing file: vdFeb14_MAC000010115.csv
Length of  table:  79605 5634
processing file: vdFeb14_MAC000010116.csv
Length of  table:  79654 62
processing file: vdFeb14_MAC000010117.csv
Length of  table:  83471 6192
processing file: vdFeb14_MAC000010118.csv
Length of  table:  88379 6978
processing file: vdFeb14_MAC000010119.csv
Length of  table:  91704 5101
processing file: vdFeb14_MAC000010120.csv
Length of  table:  91880 213
processing file: vdFeb14_MAC000010121.csv
Length of  table:  91911 41
processing file: vdFeb14_MAC000010122.csv
Length of  table:  91946 46
processing file: vdFeb14_MAC000010123.csv
Length of  table:  102484 13911
processing file: vdFeb14_MAC000010124.csv
Length of  table:  110698 11432
processing file: vdFeb14_MAC000010125.csv
Length of  table:  110714 23
processing file: vdFeb14_MAC000010127.csv
Length of  table:  110715 1
processing file: vdFeb14_MAC000010128.csv
Length of  table:  115551 7490
processing file: vdFeb14_MAC000010129.csv
Length of  table:  126883 14800
processing file: vdFeb14_MAC000010130.csv
Length of  table:  141910 18718
Cleaning done

In [7]:
def plotRoads():   
    print("plotting roads...")
    sql = "SELECT * FROM Road;"
    df_roads = gpd.GeoDataFrame.from_postgis(sql,con,geom_col='geom') #
    for index, row in df_roads.iterrows():
        (xs,ys) = row['geom'].coords.xy
        color='y'
        #road colour by type
        if row['highway']=="motorway":
            color = 'b'
        if row['highway']=="trunk":
            color = 'g'
        #if not color=='y':  #only plot major roads
        plot(xs, ys, color)
    print("Roads plotted")
plotRoads()

def plotBluetoothSites():    
    sql = "SELECT siteID, geom FROM BluetoothSite;"
    df_sites = gpd.GeoDataFrame.from_postgis(sql,con,geom_col='geom') #
    for index, row in df_sites.iterrows():
        (xs,ys) = row['geom'].coords.xy
        plot(xs, ys, 'bo')
    print ("BT sites plotted")  
plotBluetoothSites()

plotting roads...
Roads plotted
BT sites plotted

In [78]:

def createTotalRoute(con,cur):
    sql = "DROP TABLE IF EXISTS TotalRoute;"
    cur.execute(sql)          
    sql="CREATE TABLE TotalRoute( \
        emp_no SERIAL PRIMARY KEY, \
        ODrouteID text, \
        timestamp timestamp, \
        winlenseconds integer, \
        count integer, OriginSiteID text,\
        DestSiteID text);"
    cur.execute(sql)          
    con.commit() 

createTotalRoute(con,cur)

def makeTotalRoutes(con,cur):
    print("define Total measureable route from origin sensor to destination sensor")

    ODRoutes = {"MeasureableRouteID":["MAC000010119>MAC000010130",\
                                     "MAC000010102>MAC000010104",\
                                     "MAC000010121>MAC000010124",\
                                     "MAC000010101>MAC000010119",\
                                     "MAC000010123>MAC000010120"],\
               "OriginSiteID":["MAC000010119","MAC000010102",\
                               "MAC000010121",\
                               "MAC000010101","MAC000010123"],

                "DestSiteID":["MAC000010130","MAC000010104",\
                              "MAC000010124",\
                              "MAC000010119","MAC000010120"]}
    df=pd.DataFrame.from_dict(ODRoutes)
    for i in range(0,df.shape[0]):    #each route
        routeID = df['MeasureableRouteID'][i]
        oSiteID = df['OriginSiteID'][i]
        dSiteID = df['DestSiteID'][i]
        #MAC matching
        sql = "SELECT d.siteID AS dSiteID,  d.mac as dmac, d.timestamp as dtimestamp,\
        o.siteID AS oSiteID,  o.mac as omac, o.timestamp as otimestamp  \
        FROM detection_clean AS d,detection_clean AS o  \
        WHERE d.timestamp>o.timestamp\
        AND o.mac=d.mac  AND o.siteID='%s'\
        AND d.siteID='%s'"%(oSiteID, dSiteID)

        df_matches = pd.read_sql_query(sql,con)
        count = df_matches.shape[0]  #count number of bluetooth matches
        #these two variables allow us to compute flows for differnt time windows. Here we just take one whole day.
        winlenseconds = 99999999.9
        timestamp = "2015-02-14 09:00:00"
        sql = "INSERT INTO TotalRoute (ODrouteID, timestamp, winlenseconds, count,\
        OriginSiteID, DestSiteID)\
        VALUES ('%s', '%s', %f, %i,'%s','%s')"%(routeID,timestamp,\
        winlenseconds, count, oSiteID, dSiteID)
        cur.execute(sql)
        
    con.commit()  
    print ("Total routes created")
makeTotalRoutes(con,cur)


def createODRoute(con,cur):
    sql = "DROP TABLE IF EXISTS ODRoute;"
    cur.execute(sql)          
    sql="CREATE TABLE ODRoute ( \
            emp_no SERIAL PRIMARY KEY, \
            ODrouteID text, \
            timestamp timestamp, \
            winlenseconds integer, \
            count integer, OriginSiteID text, MidSiteID text, \
            DestSiteID text);"
    cur.execute(sql)          
    con.commit() 

createODRoute(con,cur)

def makeODRoutes(con,cur):
    print("define OD measureable route from each sensor to each other")
    #sql = "SELECT * FROM MeasureableRoute;"
    #df_ODRoutes = pd.read_sql_query(sql,con)
    Routes = {"MeasureableRouteID":["MAC000010119>MAC000010104>MAC000010130",\
                                     "MAC000010119>MAC000010109>MAC000010130",\
                                     "MAC000010102>MAC000010119>MAC000010104",\
                                     "MAC000010102>MAC000010118>MAC000010104",\
                                     "MAC000010121>MAC000010113>MAC000010124",\
                                     "MAC000010121>MAC000010112>MAC000010124",\
                                     "MAC000010101>MAC000010104>MAC000010119",\
                                     "MAC000010101>MAC000010118>MAC000010119",\
                                     "MAC000010123>MAC000010114>MAC000010120",\
                                     "MAC000010123>MAC000010112>MAC000010120"],\
               "OriginSiteID":["MAC000010119","MAC000010119","MAC000010102",\
                               "MAC000010102","MAC000010121","MAC000010121",\
                               "MAC000010101","MAC000010101","MAC000010123",\
                               "MAC000010123"],
                "MidSiteID": ["MAC000010104","MAC000010109","MAC000010119",\
                              "MAC000010118","MAC000010113","MAC000010112",\
                              "MAC000010104","MAC000010118","MAC000010114",\
                              "MAC000010112"],
                "DestSiteID":["MAC000010130","MAC000010130","MAC000010104",\
                              "MAC000010104","MAC000010124","MAC000010124",\
                              "MAC000010119","MAC000010119","MAC000010120",\
                              "MAC000010120"]}
    df=pd.DataFrame.from_dict(Routes)
    #print(df.shape)
    #print(df.shape[0])
    #print("asdf")
# or enter for i in range(0,df.shape[0])    
    for i in range(0,df.shape[0]):    #each route
        routeID = df['MeasureableRouteID'][i]
        oSiteID = df['OriginSiteID'][i]
        mSiteID = df['MidSiteID'][i]
        dSiteID = df['DestSiteID'][i]
        #MAC matching
        sql = "SELECT d.siteID AS dSiteID,  d.mac as dmac, d.timestamp as dtimestamp  ,\
        m.siteID AS mSiteID,  m.mac as mmac, m.timestamp as mtimestamp ,\
        o.siteID AS oSiteID,  o.mac as omac, o.timestamp as otimestamp  \
        FROM detection_clean AS d,detection_clean AS m, detection_clean AS o  \
        WHERE d.timestamp>m.timestamp AND m.timestamp>o.timestamp\
        AND o.mac=m.mac AND m.mac=d.mac  AND o.siteID='%s'AND m.siteID='%s'\
        AND d.siteID='%s'"%(oSiteID, mSiteID, dSiteID)
        #print(sql)
        df_matches = pd.read_sql_query(sql,con)
        count = df_matches.shape[0]  #count number of bluetooth matches
        #these two variables allow us to compute flows for differnt time windows. Here we just take one whole day.
        winlenseconds = 99999999.9
        timestamp = "2015-02-14 09:00:00"
        sql = "INSERT INTO ODRoute (ODrouteID, timestamp, winlenseconds, count,\
        OriginSiteID, MidSiteID, DestSiteID)\
        VALUES ('%s', '%s', %f, %i,'%s','%s','%s')"%(routeID,timestamp,\
        winlenseconds, count, oSiteID, mSiteID, dSiteID)
        cur.execute(sql)
        
    con.commit()  
    print ("OD routes created")
makeODRoutes(con,cur)

define Total measureable route from origin sensor to destination sensor
Total routes created
define OD measureable route from each sensor to each other
OD routes created

In [79]:


def createSensorDistances(con,cur):
    sql = "DROP TABLE IF EXISTS SensorDistances;"
    cur.execute(sql)          
    sql = "CREATE TABLE SensorDistances ( \
            emp_no SERIAL PRIMARY KEY, \
            ODRouteID text, gid_link text, \
            om_length integer, md_length integer,\
            total_length integer\
            );"
    cur.execute(sql) 
    sql = "DROP TABLE IF EXISTS ShortestRoute;"
    cur.execute(sql)        
    sql = "CREATE TABLE ShortestRoute ( \
            emp_no SERIAL PRIMARY KEY, \
            ODrouteID text, \
            om_length integer, \
            md_length integer, \
            total_length integer \
            );"
    cur.execute(sql)      
createSensorDistances(con,cur)

def SensorDistances(con,cur):
    print ("computing lengths ..")
    sql = "SELECT ODRouteID OriginSiteID, MidSiteID, \
            DestSiteID from ODRoute"
    sql = "SELECT ODRouteID, OriginSiteID, MidSiteID, \
            DestSiteID, ST_X(orig.geom) AS ox, ST_Y(orig.geom) \
            AS oy, ST_X(mid.geom) AS mx, ST_Y(mid.geom) AS my, ST_X(dest.geom) AS dx,\
            ST_Y(dest.geom) AS dy from ODRoute, \
            BluetoothSite AS orig, BluetoothSite AS mid, BluetoothSite AS dest \
            WHERE OriginSiteID=orig.siteID AND MidSiteID=mid.siteID AND \
            DestSiteID=dest.siteID;"
    #Read bulk of db in psql and enter into DF
    df_dist = pd.read_sql_query(sql,con)
    print (df_dist)
    N = df_dist.shape[:]   
    #N = len(df_dist)
    print (N, "shape of DF")
# for i in range(0, df_dist) or  i in range (10,7) - Error fixed
    for i in range (0, df_dist.shape[0]): 
        OMDrouteID = df_dist['odrouteid'][i]
        origsiteID = df_dist['originsiteid'][i]
        midsiteID  = df_dist['midsiteid'][i]
        destsiteID = df_dist['destsiteid'][i]
   # for i in range(df_dist)
        o_easting  = df_dist['ox'][i]#link-broken table is stored as latlon so convert on the fly
        #print (o_easting)
        #print(df_dist['ox'][i])
        #print(df_dist['ox'])
        o_northing = df_dist['oy'][i]
        m_easting  = df_dist['mx'][i]
        m_northing = df_dist['my'][i]
        d_easting  = df_dist['dx'][i]
        d_northing = df_dist['dy'][i]
        #print(type(o_easting))
        (o_lon,o_lat) = pyproj.transform(bng, wgs84, o_easting, o_northing) #project uses nonISO lonlat convention
        (m_lon,m_lat) = pyproj.transform(bng, wgs84, m_easting, m_northing)
        (d_lon,d_lat) = pyproj.transform(bng, wgs84, d_easting, d_northing) #project uses nonISO lonlat convention 

    #Origin gid
        sql = "SELECT id,ST_Distance(ways_vertices_pgr.the_geom,\
        ST_SetSRID(ST_MakePoint(%f, %f),4326)) FROM ways_vertices_pgr \
        ORDER BY st_distance ASC LIMIT 1;"%(o_lon,o_lat)    #4326=SRID code for WGS84
        df_on = pd.read_sql_query(sql,con)
        o_vertex_gid = df_on['id'][0] #get the vertexID of its source
        print ("Origin GIDs selected")
    #Mid gid
        sql = "SELECT id,ST_Distance(ways_vertices_pgr.the_geom,\
        ST_SetSRID(ST_MakePoint(%f, %f),4326)) FROM ways_vertices_pgr \
        ORDER BY st_distance ASC LIMIT 1;"%(m_lon,m_lat)    #4326=SRID code for WGS84
        df_mn = pd.read_sql_query(sql,con)
        m_vertex_gid = df_mn['id'][0] #get the vertexID of its source
        print ("Mid GIDs selected")
    
    #Dest gid
        sql = "SELECT id,ST_Distance(ways_vertices_pgr.the_geom,\
        ST_SetSRID(ST_MakePoint(%f, %f),4326)) FROM ways_vertices_pgr \
        ORDER BY st_distance ASC LIMIT 1;"%(d_lon,d_lat)    #4326=SRID code for WGS84
        df_dn = pd.read_sql_query(sql,con)
        d_vertex_gid = df_dn['id'][0] #get the vertexID of its source
        print ("Dest GIDs selected")
        
        #pgr_dijkstra(o_vertex_gid, m_vertex_gid, d_vertex_gid)
        sql = "SELECT * FROM pgr_dijkstra('SELECT gid AS id, source, target, \
        length_m AS cost FROM ways', %d,%d, directed := false), \
        ways  WHERE ways.gid=pgr_dijkstra.edge;"%(o_vertex_gid, m_vertex_gid)
        print ("Shortest path between origin and mid sensors found")
        df_route_1 = gpd.GeoDataFrame.from_postgis(sql, con, geom_col='the_geom')
        OM_route   = pd.read_sql_query(sql,con)
        #print = (OM_route)
        #print ("Origin-mid shortest route")
        # om_dist = 
        
        
        sql = "SELECT * FROM pgr_dijkstra('SELECT gid AS id, source, target, \
        length_m AS cost FROM ways', %d,%d, directed := false), \
        ways  WHERE ways.gid=pgr_dijkstra.edge;"%(m_vertex_gid, d_vertex_gid)
        print ("Shortest path between mid and destination sensors found")
        df_route_2 = gpd.GeoDataFrame.from_postgis(sql, con, geom_col='the_geom')
        MD_route   = pd.read_sql_query(sql,con)

        for i in range(0,df_route_1.shape[0]):
            rc = df_route_1.iloc[i]  #route component
            #route = df_dist.iloc[i]
            sql = "INSERT INTO SensorDistances(ODrouteID, gid_link, om_length) \
            VALUES ('%s', %i, %i);" %(OMDrouteID, rc['gid'],rc['length_m'])
            print(sql)
            cur.execute(sql)
        for i in range(0,df_route_2.shape[0]):
            rc = df_route_2.iloc[i]  #route component
            #route = df_dist.iloc[i]
            sql = "INSERT INTO SensorDistances(ODrouteID, gid_link, md_length) \
            VALUES ('%s', %i, %i);" %(OMDrouteID, rc['gid'],rc['length_m'])
            #sql = "INSERT INTO SensorDistances(ODrouteID,gid_link) values('%s', %d);"\
            #%(OMDrouteID['odrouteid'],rc['gid'])
            print(sql)
            cur.execute(sql)
        sql = "SELECT odrouteid, sum(om_length) as om, sum(md_length) as md from sensordistances\
        group by odrouteid"
        df_sum = pd.read_sql_query(sql,con)
        #df_sum1= df_sum.drop_duplicates()
        for i in range(0,df_sum.shape[0]):
            rl = df_sum.iloc[i]  
            sql = "INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length) \
            VALUES ('%s', %i, %i, %i);" %(rl['odrouteid'], rl['om'],rl['md'], rl['om']+rl['md'])
            print(sql)
            cur.execute(sql)
        
        
    con.commit()
    print ('Sensor to sensor distances calculated' )

        
SensorDistances(con,cur)

computing lengths ..
                                odrouteid  originsiteid     midsiteid  \
0  MAC000010102>MAC000010118>MAC000010104  MAC000010102  MAC000010118
1  MAC000010102>MAC000010119>MAC000010104  MAC000010102  MAC000010119
2  MAC000010101>MAC000010104>MAC000010119  MAC000010101  MAC000010104
3  MAC000010101>MAC000010118>MAC000010119  MAC000010101  MAC000010118
4  MAC000010123>MAC000010112>MAC000010120  MAC000010123  MAC000010112
5  MAC000010123>MAC000010114>MAC000010120  MAC000010123  MAC000010114
6  MAC000010121>MAC000010113>MAC000010124  MAC000010121  MAC000010113
7  MAC000010121>MAC000010112>MAC000010124  MAC000010121  MAC000010112
8  MAC000010119>MAC000010109>MAC000010130  MAC000010119  MAC000010109
9  MAC000010119>MAC000010104>MAC000010130  MAC000010119  MAC000010104

     destsiteid        ox        oy        mx        my        dx        dy
0  MAC000010104  435621.0  370547.0  436617.0  370741.0  438388.0  369743.0
1  MAC000010104  435621.0  370547.0  436845.0  369475.0  438388.0  369743.0
2  MAC000010119  440305.0  370903.0  438388.0  369743.0  436845.0  369475.0
3  MAC000010119  440305.0  370903.0  436617.0  370741.0  436845.0  369475.0
4  MAC000010120  438523.0  370855.0  438396.0  372824.0  438167.0  373840.0
5  MAC000010120  438523.0  370855.0  438571.0  372921.0  438167.0  373840.0
6  MAC000010124  438178.0  373936.0  438638.0  372862.0  438588.0  370873.0
7  MAC000010124  438178.0  373936.0  438396.0  372824.0  438588.0  370873.0
8  MAC000010130  436845.0  369475.0  437714.0  371033.0  438693.0  370603.0
9  MAC000010130  436845.0  369475.0  438388.0  369743.0  438693.0  370603.0
(10, 10) shape of DF
Origin GIDs selected
Mid GIDs selected
Dest GIDs selected
Shortest path between origin and mid sensors found
Shortest path between mid and destination sensors found
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 189, 8);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 196, 38);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 197, 38);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 199, 25);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 200, 8);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 201, 117);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 202, 33);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 203, 32);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 8666, 15);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 8694, 50);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 8695, 116);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 8696, 26);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 8697, 57);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 8698, 48);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 8699, 66);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 8700, 119);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 8701, 25);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 8702, 146);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 8703, 5);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 12519, 22);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14600, 5);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14601, 20);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14602, 13);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14607, 14);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14611, 10);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14615, 10);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14616, 19);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14617, 22);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 789, 53);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 1358, 190);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 1442, 4);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 1443, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 1444, 152);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 2267, 157);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 3014, 46);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 5854, 128);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 5859, 3);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 9177, 25);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 10304, 43);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 12133, 30);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 12134, 50);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 12136, 22);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 12137, 71);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 12140, 46);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 13763, 116);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14110, 203);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14111, 36);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14112, 75);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14113, 44);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14114, 91);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14115, 33);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14116, 124);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14117, 141);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14388, 109);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14389, 28);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14393, 103);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14394, 136);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14395, 28);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14396, 42);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14397, 12);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14613, 23);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14614, 51);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14619, 5);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14620, 11);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14621, 3);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14622, 13);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14623, 16);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14624, 16);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 14625, 16);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 15725, 122);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 15726, 41);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 18521, 16);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 20982, 10);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 20983, 89);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 1107, 2782, 3889);
Origin GIDs selected
Mid GIDs selected
Dest GIDs selected
Shortest path between origin and mid sensors found

Shortest path between mid and destination sensors found
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 834, 12);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 835, 26);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 836, 30);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 2229, 6);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 2257, 10);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 2258, 32);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 3047, 114);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 3048, 72);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 5197, 21);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 5198, 75);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 6552, 4);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 6793, 14);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 7810, 7);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 7811, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 7812, 30);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 7813, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 7814, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 7815, 7);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 7816, 6);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 7817, 8);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 7818, 13);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 7819, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 7820, 5);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 7821, 10);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 7822, 4);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 7826, 12);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 7827, 11);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 7828, 139);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 8287, 27);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 8703, 5);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14342, 31);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14445, 20);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14446, 71);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14447, 44);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14448, 54);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14923, 62);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14924, 95);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14925, 46);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14926, 48);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14929, 37);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14932, 15);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14939, 139);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14940, 94);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14941, 94);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 19255, 24);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 19256, 119);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 19257, 21);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 19258, 18);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 19266, 133);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 21258, 145);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 8287, 27);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 8493, 75);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 8494, 84);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 8495, 35);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 8496, 39);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 8497, 64);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14076, 4);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14077, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14080, 8);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14383, 238);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14384, 69);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14385, 109);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14386, 73);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14550, 80);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14551, 127);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14552, 37);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14553, 136);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14554, 143);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14555, 109);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14556, 21);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 14558, 170);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 2046, 1657, 3703);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 1107, 2782, 3889);
Origin GIDs selected

Mid GIDs selected
Dest GIDs selected
Shortest path between origin and mid sensors found
Shortest path between mid and destination sensors found
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 85, 27);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 86, 21);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 2654, 12);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 2655, 6);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 2656, 68);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 3003, 162);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 3004, 33);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 4845, 73);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 4846, 59);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 4847, 81);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 6713, 11);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 6987, 65);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 6991, 47);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 7580, 25);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 7581, 29);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 7582, 56);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 7583, 5);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 7584, 61);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 7585, 93);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 8084, 20);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 12435, 70);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 12436, 17);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 12781, 178);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 13615, 14);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 13616, 183);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 13617, 34);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 13618, 32);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 13619, 39);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 13620, 161);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14103, 203);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14291, 160);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14388, 109);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14389, 28);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14390, 29);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 15387, 35);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 15388, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 18129, 99);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 18152, 30);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 18153, 63);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 18154, 96);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 18155, 37);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 18156, 185);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 18157, 21);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 18158, 8);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 18159, 34);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 18160, 36);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 18493, 0);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 19102, 69);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 19103, 67);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 8287, 27);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 8493, 75);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 8494, 84);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 8495, 35);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 8496, 39);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 8497, 64);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14076, 4);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14077, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14080, 8);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14383, 238);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14384, 69);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14385, 109);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14386, 73);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14550, 80);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14551, 127);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14552, 37);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14553, 136);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14554, 143);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14555, 109);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14556, 21);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 14558, 170);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 3000, 1657, 4657);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 2046, 1657, 3703);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 1107, 2782, 3889);
Origin GIDs selected
Mid GIDs selected
Dest GIDs selected
Shortest path between origin and mid sensors found

Shortest path between mid and destination sensors found
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 117, 23);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 118, 23);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 119, 12);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 120, 11);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 221, 41);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 906, 11);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 1356, 48);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 1357, 28);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 1358, 190);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 2187, 86);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 2267, 157);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 3014, 46);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 5854, 128);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 6984, 247);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 8341, 26);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 8342, 5);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 8867, 401);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 9177, 25);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 10388, 80);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 11949, 50);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 12098, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 12099, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 12133, 30);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 12134, 50);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 12136, 22);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 12137, 71);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 12138, 52);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 12139, 57);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 12140, 46);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 12141, 59);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 12359, 3);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 12360, 18);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 12637, 36);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 12638, 58);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 13013, 4);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 13615, 14);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 13616, 183);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 13617, 34);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 13618, 32);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 13619, 39);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 13620, 161);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 14398, 24);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 14613, 23);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 14614, 51);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 14619, 5);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 14620, 11);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 14621, 3);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 14622, 13);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 14623, 16);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 14624, 16);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 14625, 16);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 15725, 122);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 15726, 41);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 16973, 54);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 17001, 36);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 17017, 37);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 17028, 41);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 18129, 99);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 18151, 81);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 18152, 30);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 18153, 63);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 18154, 96);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 18155, 37);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 18156, 185);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 18157, 21);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 18158, 8);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 18159, 34);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 18160, 36);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 20427, 33);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 20428, 22);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 20709, 14);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 20710, 56);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 20852, 40);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 21040, 23);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 21042, 49);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 21043, 29);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 21044, 45);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 21045, 17);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 21046, 29);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 198, 15);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 2259, 15);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 2260, 44);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 2261, 66);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 2262, 52);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 2263, 52);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 2264, 63);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 2265, 48);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 8059, 175);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 8060, 32);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 8061, 102);

INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 8062, 25);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 8063, 155);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 8286, 352);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 8290, 41);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 14600, 5);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 14601, 20);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 14602, 13);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 14607, 14);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 14611, 10);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 14615, 10);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 14616, 19);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 14617, 22);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 3000, 1657, 4657);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 4181, 1350, 5531);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 2046, 1657, 3703);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 1107, 2782, 3889);
Origin GIDs selected
Mid GIDs selected
Dest GIDs selected
Shortest path between origin and mid sensors found
Shortest path between mid and destination sensors found
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 115, 8);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 117, 23);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 182, 34);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 1526, 64);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 1736, 103);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 4047, 28);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 4048, 60);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 4055, 21);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 4227, 35);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 4228, 11);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 6181, 256);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 6182, 408);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 6881, 32);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 6882, 26);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 6883, 56);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 6961, 4);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 6962, 18);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 14285, 15);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 15287, 28);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 15295, 7);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 19029, 13);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 19030, 369);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 19486, 267);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 20853, 58);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 20863, 4);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 20865, 62);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 21050, 47);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 21051, 44);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 21052, 18);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 21053, 33);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 5838, 57);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 8516, 37);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 8517, 15);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 8518, 128);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 8519, 29);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 8520, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 8521, 14);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 8522, 59);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 8554, 82);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 8670, 44);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 8671, 12);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 8672, 52);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 8673, 63);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 8674, 74);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 8675, 54);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 8676, 10);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 8677, 8);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 8678, 46);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 9202, 28);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 9221, 24);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 9222, 113);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 12988, 49);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 14285, 15);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 14286, 0);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 16801, 104);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 18279, 16);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 3000, 1657, 4657);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 4181, 1350, 5531);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 2152, 1142, 3294);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 2046, 1657, 3703);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 1107, 2782, 3889);
Origin GIDs selected

Mid GIDs selected
Dest GIDs selected
Shortest path between origin and mid sensors found
Shortest path between mid and destination sensors found
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 117, 23);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 118, 23);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 119, 12);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 120, 11);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 12098, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 12099, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 12301, 175);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 12782, 1516);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 14162, 8);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 14163, 42);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 14578, 322);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 17028, 41);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 4, 21);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 5, 42);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 8230, 15);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 12803, 926);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 12805, 55);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 14152, 80);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 14164, 32);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 21305, 10);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 21306, 27);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 3000, 1657, 4657);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 4181, 1350, 5531);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 2191, 1208, 3399);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 2152, 1142, 3294);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 2046, 1657, 3703);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 1107, 2782, 3889);
Origin GIDs selected
Mid GIDs selected
Dest GIDs selected
Shortest path between origin and mid sensors found
Shortest path between mid and destination sensors found
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 1, 23);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 2, 22);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 9, 24);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 678, 5);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 2717, 7);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 5847, 53);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 12804, 73);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 13571, 57);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 14154, 7);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 14155, 8);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 14156, 24);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 14157, 25);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 14563, 995);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 12098, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 12099, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 12301, 175);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 12782, 1516);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 14158, 8);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 14159, 12);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 14160, 11);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 14161, 37);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 14578, 322);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 17028, 41);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 3000, 1657, 4657);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 4181, 1350, 5531);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 2191, 1208, 3399);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 2152, 1142, 3294);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 1323, 2140, 3463);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 2046, 1657, 3703);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 1107, 2782, 3889);
Origin GIDs selected
Mid GIDs selected
Dest GIDs selected
Shortest path between origin and mid sensors found

Shortest path between mid and destination sensors found
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 5727, 12);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 5829, 7);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 5846, 13);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 5848, 31);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 6185, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 6186, 36);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 6187, 38);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 6188, 60);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 7852, 4);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 8516, 37);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 8517, 15);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 8518, 128);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 8519, 29);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 8520, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 8554, 82);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 8670, 44);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 8671, 12);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 8672, 52);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 8673, 63);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 8674, 74);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 8675, 54);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 8676, 10);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 8677, 8);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 8678, 46);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 9202, 28);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 9221, 24);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 9222, 113);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 12988, 49);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 14285, 15);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 14286, 0);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 16801, 104);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 18279, 16);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 18481, 6);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 18482, 3);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 18485, 3);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 18487, 4);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 18488, 6);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 18489, 2);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 80, 33);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 115, 8);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 119, 12);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 120, 11);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 1526, 64);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 1736, 103);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 4047, 28);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 4048, 60);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 4055, 21);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 4227, 35);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 4228, 11);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 6181, 256);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 6182, 408);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 6881, 32);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 6882, 26);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 6883, 56);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 6961, 4);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 6962, 18);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 14285, 15);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 15287, 28);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 15295, 7);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 19029, 13);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 19030, 369);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 19486, 267);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 20853, 58);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 20863, 4);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 20865, 62);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 21050, 47);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 21051, 44);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 21052, 18);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 21053, 33);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 3000, 1657, 4657);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 4181, 1350, 5531);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 2191, 1208, 3399);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 2152, 1142, 3294);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 1323, 2140, 3463);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 2046, 1657, 3703);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 1107, 2782, 3889);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 1246, 2151, 3397);
Origin GIDs selected
Mid GIDs selected
Dest GIDs selected
Shortest path between origin and mid sensors found

Shortest path between mid and destination sensors found
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 583, 109);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 584, 83);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 1356, 48);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 1357, 28);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 2187, 86);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 8059, 175);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 8286, 352);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 8290, 41);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 8291, 61);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 8292, 85);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 8293, 164);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 8294, 56);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 10301, 68);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 10302, 4);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 10304, 43);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 11949, 50);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 12138, 52);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 12139, 57);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 12141, 59);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 12520, 8);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 13013, 4);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 13751, 34);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 13752, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 13754, 62);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 13755, 59);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 13756, 127);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 13757, 186);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 13760, 13);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 18540, 89);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 20982, 10);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 82, 14);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 83, 36);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 84, 8);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 123, 38);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 124, 22);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 221, 41);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 222, 11);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 7330, 30);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 7398, 17);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 7399, 22);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 7400, 13);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 8867, 401);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 13014, 31);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 13015, 45);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 13016, 115);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 13017, 51);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 14398, 24);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 20428, 22);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 20710, 56);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 20852, 40);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 21042, 49);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 21043, 29);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 21044, 45);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 21045, 17);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 21046, 29);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 3000, 1657, 4657);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 4181, 1350, 5531);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 2191, 1208, 3399);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 2152, 1142, 3294);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 1323, 2140, 3463);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 2046, 1657, 3703);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 2222, 1206, 3428);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 1107, 2782, 3889);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 1246, 2151, 3397);
Origin GIDs selected
Mid GIDs selected
Dest GIDs selected
Shortest path between origin and mid sensors found

Shortest path between mid and destination sensors found
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 8287, 27);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 8493, 75);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 8494, 84);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 8495, 35);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 8496, 39);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 8497, 64);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 14076, 4);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 14077, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 14080, 8);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 14383, 238);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 14384, 69);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 14385, 109);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 14386, 73);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 14550, 80);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 14551, 127);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 14552, 37);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 14553, 136);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 14554, 143);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 14555, 109);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 14556, 21);
INSERT INTO SensorDistances(ODrouteID, gid_link, om_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 14558, 170);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 85, 27);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 86, 21);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 3003, 162);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 3004, 33);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 6713, 11);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 6987, 65);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 6991, 47);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 7580, 25);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 7581, 29);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 7582, 56);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 7583, 5);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 7584, 61);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 7585, 93);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 14388, 109);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 14389, 28);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 15387, 35);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 15388, 9);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 18493, 0);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 19102, 69);
INSERT INTO SensorDistances(ODrouteID, gid_link, md_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 19103, 67);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010119>MAC000010104>MAC000010130', 1657, 952, 2609);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010101>MAC000010104>MAC000010119', 3000, 1657, 4657);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010101>MAC000010118>MAC000010119', 4181, 1350, 5531);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010123>MAC000010114>MAC000010120', 2191, 1208, 3399);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010123>MAC000010112>MAC000010120', 2152, 1142, 3294);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010121>MAC000010113>MAC000010124', 1323, 2140, 3463);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010102>MAC000010119>MAC000010104', 2046, 1657, 3703);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010119>MAC000010109>MAC000010130', 2222, 1206, 3428);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010102>MAC000010118>MAC000010104', 1107, 2782, 3889);
INSERT INTO ShortestRoute(ODrouteID, om_length, md_length, total_length)             VALUES ('MAC000010121>MAC000010112>MAC000010124', 1246, 2151, 3397);
Sensor to sensor distances calculated

In [81]:
def createTotalRouteCount(con, cur):
    sql = "DROP TABLE IF EXISTS Totalroutecount;"
    cur.execute(sql)          
    sql="CREATE TABLE Totalroutecount ( \
            emp_no SERIAL PRIMARY KEY, \
            ODrouteID text, \
            timestamp timestamp, \
            winlenseconds integer, \
            count integer \
            );"
    cur.execute(sql)          
    con.commit()
createTotalRouteCount(con, cur)

def TotalrouteCounts(con,cur):   #count number of matching Bluetooth detections between origins and destinations
    sql = "SELECT * FROM TotalRoute;"
    df_odroute = pd.read_sql_query(sql,con)
    print (df_odroute)
    for i in range(0, df_odroute.shape[0]):    #each route
        oSiteID = df_odroute['originsiteid'][i]
        #mSiteID = df_odroute['midsiteid'][i]
        dSiteID = df_odroute['destsiteid'][i]
        #MAC matching
        sql = "SELECT d.siteID AS dSiteID,  d.mac as dmac, \
        d.timestamp as dtimestamp, o.siteID AS oSiteID,  \
        o.mac as omac, o.timestamp as otimestamp    \
        FROM Detection_clean AS d, Detection_clean AS o  \
        WHERE d.timestamp>o.timestamp\
        AND o.mac=d.mac AND o.siteID='%s'\
        AND d.siteID='%s';"%(oSiteID, dSiteID)
        print(sql)
        df_matches = pd.read_sql_query(sql,con)
        count = df_matches.shape[0]  #count number of bluetooth matches
        #these two variables allow us to compute flows for differnt time windows. Here we just take one whole day.
        winlenseconds = 99999999.9
        timestamp = "2015-02-14 09:00:00"
        sql = "INSERT INTO TotalRouteCount (ODrouteID, timestamp,\
        winlenseconds, count) VALUES ('%s', '%s', %f, %i)"\
        %(df_odroute['odrouteid'].iloc[i], df_odroute['timestamp'].iloc[i], winlenseconds, count)
        cur.execute(sql)
        print (sql)
        con.commit()
TotalrouteCounts(con,cur)


def createODRouteCount(con, cur):
    sql = "DROP TABLE IF EXISTS ODroutecount;"
    cur.execute(sql)          
    sql="CREATE TABLE ODroutecount ( \
            emp_no SERIAL PRIMARY KEY, \
            ODrouteID text, \
            timestamp timestamp, \
            winlenseconds integer, \
            count integer \
            );"
    cur.execute(sql)          
    con.commit()
createODRouteCount(con, cur)

def ODrouteCounts(con,cur):   #count number of matching Bluetooth detections between origins and destinations
    sql = "SELECT * FROM ODRoute;"
    df_odroute = pd.read_sql_query(sql,con)
    print (df_odroute)
    for i in range(0, df_odroute.shape[0]):    #each route
        oSiteID = df_odroute['originsiteid'][i]
        mSiteID = df_odroute['midsiteid'][i]
        dSiteID = df_odroute['destsiteid'][i]
        #MAC matching
        sql = "SELECT d.siteID AS dSiteID,  d.mac as dmac, \
        d.timestamp as dtimestamp  , m.siteID AS mSiteID,  m.mac as mmac, \
        m.timestamp as mtimestamp,  o.siteID AS oSiteID,  \
        o.mac as omac, o.timestamp as otimestamp    \
        FROM Detection_clean AS d, Detection_clean AS m, Detection_clean AS o  \
        WHERE d.timestamp>m.timestamp AND m.timestamp>o.timestamp\
        AND o.mac=m.mac AND m.mac=d.mac AND o.siteID='%s'\
        AND m.siteID = '%s' AND d.siteID='%s';"%(oSiteID, mSiteID, dSiteID)
        print(sql)
        df_matches = pd.read_sql_query(sql,con)
        count = df_matches.shape[0]  #count number of bluetooth matches
        #these two variables allow us to compute flows for differnt time windows. Here we just take one whole day.
        winlenseconds = 99999999.9
        timestamp = "2015-02-14 09:00:00"
        sql = "INSERT INTO ODRouteCount (ODrouteID, timestamp,\
        winlenseconds, count) VALUES ('%s', '%s', %f, %i)"\
        %(df_odroute['odrouteid'].iloc[i], df_odroute['timestamp'].iloc[i], winlenseconds, count)
        cur.execute(sql)
        print (sql)
        con.commit()
ODrouteCounts(con,cur)

   emp_no                  odrouteid           timestamp  winlenseconds  \
0       1  MAC000010119>MAC000010130 2015-02-14 09:00:00      100000000
1       2  MAC000010102>MAC000010104 2015-02-14 09:00:00      100000000
2       3  MAC000010121>MAC000010124 2015-02-14 09:00:00      100000000
3       4  MAC000010101>MAC000010119 2015-02-14 09:00:00      100000000
4       5  MAC000010123>MAC000010120 2015-02-14 09:00:00      100000000

   count  originsiteid    destsiteid
0   2555  MAC000010119  MAC000010130
1   1020  MAC000010102  MAC000010104
2      4  MAC000010121  MAC000010124
3    585  MAC000010101  MAC000010119
4     63  MAC000010123  MAC000010120
SELECT d.siteID AS dSiteID,  d.mac as dmac,         d.timestamp as dtimestamp, o.siteID AS oSiteID,          o.mac as omac, o.timestamp as otimestamp            FROM Detection_clean AS d, Detection_clean AS o          WHERE d.timestamp>o.timestamp        AND o.mac=d.mac AND o.siteID='MAC000010119'        AND d.siteID='MAC000010130';
INSERT INTO TotalRouteCount (ODrouteID, timestamp,        winlenseconds, count) VALUES ('MAC000010119>MAC000010130', '2015-02-14 09:00:00', 99999999.900000, 2555)
SELECT d.siteID AS dSiteID,  d.mac as dmac,         d.timestamp as dtimestamp, o.siteID AS oSiteID,          o.mac as omac, o.timestamp as otimestamp            FROM Detection_clean AS d, Detection_clean AS o          WHERE d.timestamp>o.timestamp        AND o.mac=d.mac AND o.siteID='MAC000010102'        AND d.siteID='MAC000010104';
INSERT INTO TotalRouteCount (ODrouteID, timestamp,        winlenseconds, count) VALUES ('MAC000010102>MAC000010104', '2015-02-14 09:00:00', 99999999.900000, 1020)
SELECT d.siteID AS dSiteID,  d.mac as dmac,         d.timestamp as dtimestamp, o.siteID AS oSiteID,          o.mac as omac, o.timestamp as otimestamp            FROM Detection_clean AS d, Detection_clean AS o          WHERE d.timestamp>o.timestamp        AND o.mac=d.mac AND o.siteID='MAC000010121'        AND d.siteID='MAC000010124';
INSERT INTO TotalRouteCount (ODrouteID, timestamp,        winlenseconds, count) VALUES ('MAC000010121>MAC000010124', '2015-02-14 09:00:00', 99999999.900000, 4)
SELECT d.siteID AS dSiteID,  d.mac as dmac,         d.timestamp as dtimestamp, o.siteID AS oSiteID,          o.mac as omac, o.timestamp as otimestamp            FROM Detection_clean AS d, Detection_clean AS o          WHERE d.timestamp>o.timestamp        AND o.mac=d.mac AND o.siteID='MAC000010101'        AND d.siteID='MAC000010119';
INSERT INTO TotalRouteCount (ODrouteID, timestamp,        winlenseconds, count) VALUES ('MAC000010101>MAC000010119', '2015-02-14 09:00:00', 99999999.900000, 585)
SELECT d.siteID AS dSiteID,  d.mac as dmac,         d.timestamp as dtimestamp, o.siteID AS oSiteID,          o.mac as omac, o.timestamp as otimestamp            FROM Detection_clean AS d, Detection_clean AS o          WHERE d.timestamp>o.timestamp        AND o.mac=d.mac AND o.siteID='MAC000010123'        AND d.siteID='MAC000010120';
INSERT INTO TotalRouteCount (ODrouteID, timestamp,        winlenseconds, count) VALUES ('MAC000010123>MAC000010120', '2015-02-14 09:00:00', 99999999.900000, 63)
   emp_no                               odrouteid           timestamp  \
0       1  MAC000010119>MAC000010104>MAC000010130 2015-02-14 09:00:00
1       2  MAC000010119>MAC000010109>MAC000010130 2015-02-14 09:00:00
2       3  MAC000010102>MAC000010119>MAC000010104 2015-02-14 09:00:00
3       4  MAC000010102>MAC000010118>MAC000010104 2015-02-14 09:00:00
4       5  MAC000010121>MAC000010113>MAC000010124 2015-02-14 09:00:00
5       6  MAC000010121>MAC000010112>MAC000010124 2015-02-14 09:00:00
6       7  MAC000010101>MAC000010104>MAC000010119 2015-02-14 09:00:00
7       8  MAC000010101>MAC000010118>MAC000010119 2015-02-14 09:00:00
8       9  MAC000010123>MAC000010114>MAC000010120 2015-02-14 09:00:00
9      10  MAC000010123>MAC000010112>MAC000010120 2015-02-14 09:00:00

   winlenseconds  count  originsiteid     midsiteid    destsiteid
0      100000000   3887  MAC000010119  MAC000010104  MAC000010130
1      100000000   2327  MAC000010119  MAC000010109  MAC000010130
2      100000000    742  MAC000010102  MAC000010119  MAC000010104
3      100000000    971  MAC000010102  MAC000010118  MAC000010104
4      100000000     12  MAC000010121  MAC000010113  MAC000010124
5      100000000      0  MAC000010121  MAC000010112  MAC000010124
6      100000000    737  MAC000010101  MAC000010104  MAC000010119
7      100000000    244  MAC000010101  MAC000010118  MAC000010119
8      100000000    100  MAC000010123  MAC000010114  MAC000010120
9      100000000     11  MAC000010123  MAC000010112  MAC000010120
SELECT d.siteID AS dSiteID,  d.mac as dmac,         d.timestamp as dtimestamp  , m.siteID AS mSiteID,  m.mac as mmac,         m.timestamp as mtimestamp,  o.siteID AS oSiteID,          o.mac as omac, o.timestamp as otimestamp            FROM Detection_clean AS d, Detection_clean AS m, Detection_clean AS o          WHERE d.timestamp>m.timestamp AND m.timestamp>o.timestamp        AND o.mac=m.mac AND m.mac=d.mac AND o.siteID='MAC000010119'        AND m.siteID = 'MAC000010104' AND d.siteID='MAC000010130';
INSERT INTO ODRouteCount (ODrouteID, timestamp,        winlenseconds, count) VALUES ('MAC000010119>MAC000010104>MAC000010130', '2015-02-14 09:00:00', 99999999.900000, 3887)
SELECT d.siteID AS dSiteID,  d.mac as dmac,         d.timestamp as dtimestamp  , m.siteID AS mSiteID,  m.mac as mmac,         m.timestamp as mtimestamp,  o.siteID AS oSiteID,          o.mac as omac, o.timestamp as otimestamp            FROM Detection_clean AS d, Detection_clean AS m, Detection_clean AS o          WHERE d.timestamp>m.timestamp AND m.timestamp>o.timestamp        AND o.mac=m.mac AND m.mac=d.mac AND o.siteID='MAC000010119'        AND m.siteID = 'MAC000010109' AND d.siteID='MAC000010130';
INSERT INTO ODRouteCount (ODrouteID, timestamp,        winlenseconds, count) VALUES ('MAC000010119>MAC000010109>MAC000010130', '2015-02-14 09:00:00', 99999999.900000, 2327)
SELECT d.siteID AS dSiteID,  d.mac as dmac,         d.timestamp as dtimestamp  , m.siteID AS mSiteID,  m.mac as mmac,         m.timestamp as mtimestamp,  o.siteID AS oSiteID,          o.mac as omac, o.timestamp as otimestamp            FROM Detection_clean AS d, Detection_clean AS m, Detection_clean AS o          WHERE d.timestamp>m.timestamp AND m.timestamp>o.timestamp        AND o.mac=m.mac AND m.mac=d.mac AND o.siteID='MAC000010102'        AND m.siteID = 'MAC000010119' AND d.siteID='MAC000010104';
INSERT INTO ODRouteCount (ODrouteID, timestamp,        winlenseconds, count) VALUES ('MAC000010102>MAC000010119>MAC000010104', '2015-02-14 09:00:00', 99999999.900000, 742)
SELECT d.siteID AS dSiteID,  d.mac as dmac,         d.timestamp as dtimestamp  , m.siteID AS mSiteID,  m.mac as mmac,         m.timestamp as mtimestamp,  o.siteID AS oSiteID,          o.mac as omac, o.timestamp as otimestamp            FROM Detection_clean AS d, Detection_clean AS m, Detection_clean AS o          WHERE d.timestamp>m.timestamp AND m.timestamp>o.timestamp        AND o.mac=m.mac AND m.mac=d.mac AND o.siteID='MAC000010102'        AND m.siteID = 'MAC000010118' AND d.siteID='MAC000010104';
INSERT INTO ODRouteCount (ODrouteID, timestamp,        winlenseconds, count) VALUES ('MAC000010102>MAC000010118>MAC000010104', '2015-02-14 09:00:00', 99999999.900000, 971)
SELECT d.siteID AS dSiteID,  d.mac as dmac,         d.timestamp as dtimestamp  , m.siteID AS mSiteID,  m.mac as mmac,         m.timestamp as mtimestamp,  o.siteID AS oSiteID,          o.mac as omac, o.timestamp as otimestamp            FROM Detection_clean AS d, Detection_clean AS m, Detection_clean AS o          WHERE d.timestamp>m.timestamp AND m.timestamp>o.timestamp        AND o.mac=m.mac AND m.mac=d.mac AND o.siteID='MAC000010121'        AND m.siteID = 'MAC000010113' AND d.siteID='MAC000010124';
INSERT INTO ODRouteCount (ODrouteID, timestamp,        winlenseconds, count) VALUES ('MAC000010121>MAC000010113>MAC000010124', '2015-02-14 09:00:00', 99999999.900000, 12)
SELECT d.siteID AS dSiteID,  d.mac as dmac,         d.timestamp as dtimestamp  , m.siteID AS mSiteID,  m.mac as mmac,         m.timestamp as mtimestamp,  o.siteID AS oSiteID,          o.mac as omac, o.timestamp as otimestamp            FROM Detection_clean AS d, Detection_clean AS m, Detection_clean AS o          WHERE d.timestamp>m.timestamp AND m.timestamp>o.timestamp        AND o.mac=m.mac AND m.mac=d.mac AND o.siteID='MAC000010121'        AND m.siteID = 'MAC000010112' AND d.siteID='MAC000010124';

INSERT INTO ODRouteCount (ODrouteID, timestamp,        winlenseconds, count) VALUES ('MAC000010121>MAC000010112>MAC000010124', '2015-02-14 09:00:00', 99999999.900000, 0)
SELECT d.siteID AS dSiteID,  d.mac as dmac,         d.timestamp as dtimestamp  , m.siteID AS mSiteID,  m.mac as mmac,         m.timestamp as mtimestamp,  o.siteID AS oSiteID,          o.mac as omac, o.timestamp as otimestamp            FROM Detection_clean AS d, Detection_clean AS m, Detection_clean AS o          WHERE d.timestamp>m.timestamp AND m.timestamp>o.timestamp        AND o.mac=m.mac AND m.mac=d.mac AND o.siteID='MAC000010101'        AND m.siteID = 'MAC000010104' AND d.siteID='MAC000010119';
INSERT INTO ODRouteCount (ODrouteID, timestamp,        winlenseconds, count) VALUES ('MAC000010101>MAC000010104>MAC000010119', '2015-02-14 09:00:00', 99999999.900000, 737)
SELECT d.siteID AS dSiteID,  d.mac as dmac,         d.timestamp as dtimestamp  , m.siteID AS mSiteID,  m.mac as mmac,         m.timestamp as mtimestamp,  o.siteID AS oSiteID,          o.mac as omac, o.timestamp as otimestamp            FROM Detection_clean AS d, Detection_clean AS m, Detection_clean AS o          WHERE d.timestamp>m.timestamp AND m.timestamp>o.timestamp        AND o.mac=m.mac AND m.mac=d.mac AND o.siteID='MAC000010101'        AND m.siteID = 'MAC000010118' AND d.siteID='MAC000010119';
INSERT INTO ODRouteCount (ODrouteID, timestamp,        winlenseconds, count) VALUES ('MAC000010101>MAC000010118>MAC000010119', '2015-02-14 09:00:00', 99999999.900000, 244)
SELECT d.siteID AS dSiteID,  d.mac as dmac,         d.timestamp as dtimestamp  , m.siteID AS mSiteID,  m.mac as mmac,         m.timestamp as mtimestamp,  o.siteID AS oSiteID,          o.mac as omac, o.timestamp as otimestamp            FROM Detection_clean AS d, Detection_clean AS m, Detection_clean AS o          WHERE d.timestamp>m.timestamp AND m.timestamp>o.timestamp        AND o.mac=m.mac AND m.mac=d.mac AND o.siteID='MAC000010123'        AND m.siteID = 'MAC000010114' AND d.siteID='MAC000010120';
INSERT INTO ODRouteCount (ODrouteID, timestamp,        winlenseconds, count) VALUES ('MAC000010123>MAC000010114>MAC000010120', '2015-02-14 09:00:00', 99999999.900000, 100)
SELECT d.siteID AS dSiteID,  d.mac as dmac,         d.timestamp as dtimestamp  , m.siteID AS mSiteID,  m.mac as mmac,         m.timestamp as mtimestamp,  o.siteID AS oSiteID,          o.mac as omac, o.timestamp as otimestamp            FROM Detection_clean AS d, Detection_clean AS m, Detection_clean AS o          WHERE d.timestamp>m.timestamp AND m.timestamp>o.timestamp        AND o.mac=m.mac AND m.mac=d.mac AND o.siteID='MAC000010123'        AND m.siteID = 'MAC000010112' AND d.siteID='MAC000010120';
INSERT INTO ODRouteCount (ODrouteID, timestamp,        winlenseconds, count) VALUES ('MAC000010123>MAC000010112>MAC000010120', '2015-02-14 09:00:00', 99999999.900000, 11)

In [92]:
def createODLinkCount(con, cur):
    sql = "DROP TABLE IF EXISTS ODlinkcount;"
    cur.execute(sql)          
    sql="CREATE TABLE ODlinkcount ( \
            emp_no SERIAL PRIMARY KEY, \
            gid text, \
            timestamp timestamp, \
            winlenseconds integer, \
            count integer \
            );"
    cur.execute(sql)          
    con.commit()
createODLinkCount(con, cur)

def ODlinkCounts(con, cur):
    sql = "SELECT * FROM ODRouteCount;"
    df_rc = pd.read_sql_query(sql,con)
    for i in range(0, df_rc.shape[0]):    #each routecount
        row  = df_rc.iloc[i]
        count         = row['count']
        winlenseconds = row['winlenseconds']
        timestamp     = row['timestamp']
        if count>0:
            sql = "SELECT * FROM SensorDistances WHERE ODrouteid='%s'"%row['odrouteid']
            df_rl = pd.read_sql_query(sql,con)
            for j in range(0, df_rl.shape[0]): #add counts for each link
                link = df_rl.iloc[j]                   #route component
                gid_link = link['gid_link']
                sql = "INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,\
                count) VALUES ('%s','%s', %i, %i);"%(gid_link, \
                timestamp, winlenseconds, count)
                print(sql)
                cur.execute(sql)
            con.commit()
ODlinkCounts(con, cur)

INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8287','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8493','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8494','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8495','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8496','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8497','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14076','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14077','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14080','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14383','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14384','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14385','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14386','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14550','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14551','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14552','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14553','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14554','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14555','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14556','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14558','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('85','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('86','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('3003','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('3004','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('6713','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('6987','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('6991','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7580','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7581','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7582','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7583','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7584','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7585','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14388','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14389','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('15387','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('15388','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18493','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('19102','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('19103','2015-02-14 09:00:00', 100000000, 3887);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('583','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('584','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('1356','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('1357','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('2187','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8059','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8286','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8290','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8291','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8292','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8293','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8294','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('10301','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('10302','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('10304','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('11949','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12138','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12139','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12141','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12520','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13013','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13751','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13752','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13754','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13755','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13756','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13757','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13760','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18540','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('20982','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('82','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('83','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('84','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('123','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('124','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('221','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('222','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7330','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7398','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7399','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7400','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8867','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13014','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13015','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13016','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13017','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14398','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('20428','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('20710','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('20852','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('21042','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('21043','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('21044','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('21045','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('21046','2015-02-14 09:00:00', 100000000, 2327);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('834','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('835','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('836','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('2229','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('2257','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('2258','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('3047','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('3048','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('5197','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('5198','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('6552','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('6793','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7810','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7811','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7812','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7813','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7814','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7815','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7816','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7817','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7818','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7819','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7820','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7821','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7822','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7826','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7827','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7828','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8287','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8703','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14342','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14445','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14446','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14447','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14448','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14923','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14924','2015-02-14 09:00:00', 100000000, 742);

INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14925','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14926','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14929','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14932','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14939','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14940','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14941','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('19255','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('19256','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('19257','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('19258','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('19266','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('21258','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8287','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8493','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8494','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8495','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8496','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8497','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14076','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14077','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14080','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14383','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14384','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14385','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14386','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14550','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14551','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14552','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14553','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14554','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14555','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14556','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14558','2015-02-14 09:00:00', 100000000, 742);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('189','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('196','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('197','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('199','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('200','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('201','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('202','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('203','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8666','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8694','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8695','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8696','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8697','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8698','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8699','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8700','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8701','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8702','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8703','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12519','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14600','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14601','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14602','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14607','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14611','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14615','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14616','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14617','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('789','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('1358','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('1442','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('1443','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('1444','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('2267','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('3014','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('5854','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('5859','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('9177','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('10304','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12133','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12134','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12136','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12137','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12140','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13763','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14110','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14111','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14112','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14113','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14114','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14115','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14116','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14117','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14388','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14389','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14393','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14394','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14395','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14396','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14397','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14613','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14614','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14619','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14620','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14621','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14622','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14623','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14624','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14625','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('15725','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('15726','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18521','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('20982','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('20983','2015-02-14 09:00:00', 100000000, 971);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('1','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('2','2015-02-14 09:00:00', 100000000, 12);

INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('9','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('678','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('2717','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('5847','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12804','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13571','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14154','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14155','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14156','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14157','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14563','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12098','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12099','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12301','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12782','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14158','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14159','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14160','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14161','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14578','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('17028','2015-02-14 09:00:00', 100000000, 12);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('85','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('86','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('2654','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('2655','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('2656','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('3003','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('3004','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('4845','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('4846','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('4847','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('6713','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('6987','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('6991','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7580','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7581','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7582','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7583','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7584','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('7585','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8084','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12435','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12436','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12781','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13615','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13616','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13617','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13618','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13619','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13620','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14103','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14291','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14388','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14389','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14390','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('15387','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('15388','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18129','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18152','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18153','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18154','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18155','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18156','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18157','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18158','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18159','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18160','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18493','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('19102','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('19103','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8287','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8493','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8494','2015-02-14 09:00:00', 100000000, 737);

INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8495','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8496','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8497','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14076','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14077','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14080','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14383','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14384','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14385','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14386','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14550','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14551','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14552','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14553','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14554','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14555','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14556','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14558','2015-02-14 09:00:00', 100000000, 737);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('117','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('118','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('119','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('120','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('221','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('906','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('1356','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('1357','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('1358','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('2187','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('2267','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('3014','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('5854','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('6984','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8341','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8342','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8867','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('9177','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('10388','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('11949','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12098','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12099','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12133','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12134','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12136','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12137','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12138','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12139','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12140','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12141','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12359','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12360','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12637','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12638','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13013','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13615','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13616','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13617','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13618','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13619','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('13620','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14398','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14613','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14614','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14619','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14620','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14621','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14622','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14623','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14624','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14625','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('15725','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('15726','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('16973','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('17001','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('17017','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('17028','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18129','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18151','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18152','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18153','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18154','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18155','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18156','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18157','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18158','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18159','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18160','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('20427','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('20428','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('20709','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('20710','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('20852','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('21040','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('21042','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('21043','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('21044','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('21045','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('21046','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('198','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('2259','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('2260','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('2261','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('2262','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('2263','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('2264','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('2265','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8059','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8060','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8061','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8062','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8063','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8286','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8290','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14600','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14601','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14602','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14607','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14611','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14615','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14616','2015-02-14 09:00:00', 100000000, 244);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14617','2015-02-14 09:00:00', 100000000, 244);

INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('117','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('118','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('119','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('120','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12098','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12099','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12301','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12782','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14162','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14163','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14578','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('17028','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('4','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('5','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8230','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12803','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12805','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14152','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14164','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('21305','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('21306','2015-02-14 09:00:00', 100000000, 100);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('115','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('117','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('182','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('1526','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('1736','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('4047','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('4048','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('4055','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('4227','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('4228','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('6181','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('6182','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('6881','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('6882','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('6883','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('6961','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('6962','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14285','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('15287','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('15295','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('19029','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('19030','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('19486','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('20853','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('20863','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('20865','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('21050','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('21051','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('21052','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('21053','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('5838','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8516','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8517','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8518','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8519','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8520','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8521','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8522','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8554','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8670','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8671','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8672','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8673','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8674','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8675','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8676','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8677','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('8678','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('9202','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('9221','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('9222','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('12988','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14285','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('14286','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('16801','2015-02-14 09:00:00', 100000000, 11);
INSERT INTO ODlinkcount (gid, timestamp, winlenseconds,                count) VALUES ('18279','2015-02-14 09:00:00', 100000000, 11);

In [94]:
def plotFlows(con,cur):     
    dt_start  = datetime.datetime.strptime('2015-01-05_00:00:00' , \
                                           "%Y-%m-%d_%H:%M:%S" )
    dt_end    = datetime.datetime.strptime('2016-12-10_00:00:00' , \
                                           "%Y-%m-%d_%H:%M:%S" )
    sql = "SELECT ways.gid, SUM(ODlinkcount.count), ways.the_geom FROM ways,\
    ODlinkcount  WHERE ODlinkcount.gid::int=ways.gid AND ODlinkcount.timestamp>'%s'\
    AND ODlinkcount.timestamp<'%s'  GROUP BY ways.gid;"%(dt_start,dt_end)
    print(sql) 
    df_links = gpd.GeoDataFrame.from_postgis(sql,con,geom_col='the_geom')
    for i in range(0,df_links.shape[0]): 
        link = df_links.iloc[i]
        lons = link['the_geom'].coords.xy[0] #coordinates in latlon
        lats = link['the_geom'].coords.xy[1]
        gid = int(link.gid) 
        xs=[];ys=[]
        n_segments = len(lons)
        for j in range(0, n_segments):
            (x,y) = pyproj.transform(wgs84, bng, lons[j], lats[j]) #project to BNG -- uses nonISO lonlat convention  #TODO faster to cache this! 
            xs.append(x)
            ys.append(y)
        color='r'
        lw = int(link['sum']/10000)
        plot(xs, ys, color, linewidth=lw)  
plotFlows(con,cur)
print ("Flows plotted")

SELECT ways.gid, SUM(ODlinkcount.count), ways.the_geom FROM ways,    ODlinkcount  WHERE ODlinkcount.gid::int=ways.gid AND ODlinkcount.timestamp>'2015-01-05 00:00:00'    AND ODlinkcount.timestamp<'2016-12-10 00:00:00'  GROUP BY ways.gid;
Flows plotted

In [ ]:
#plot of Flows vs route id

In [ ]:
#plot of Flows vs od distances

In [ ]:
#Difference from Shortest path

In [108]:
import plotly.plotly as py
import plotly.graph_objs as go

import pandas as pd

mapbox_access_token = pk.eyJ1Ijoic3JlZXNvbWFkYXMiLCJhIjoiY2poZXY5aDNoMDNjNDM3bnJhaXZneHF5YyJ9.5io2Q2NCWyJTE82MSK5PdA


df = pd.read_csv("/headless/data/BTsites.csv")
print (df)
site_lat = df.Latitude
site_lon = df.Longitude
locations_name = df.Description

data = [
    go.Scattermapbox(
        lat=site_lat,
        lon=site_lon,
        mode='markers',
        marker=dict(
            size=17,
            color='rgb(255, 0, 0)',
            opacity=0.7
        ),
        text=locations_name,
        hoverinfo='text'
    ),
    go.Scattermapbox(
        lat=site_lat,
        lon=site_lon,
        mode='markers',
        marker=dict(
            size=8,
            color='rgb(242, 177, 172)',
            opacity=0.7
        ),
        hoverinfo='none'
    )]


layout = go.Layout(
    title='Bluetooth Sites',
    autosize=True,
    hovermode='closest',
    showlegend=False,
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=38,
            lon=-94
        ),
        pitch=0,
        zoom=3,
        style='light'
    ),
)

fig = dict(data=data, layout=layout)

py.iplot(fig, filename='Bluetooth Sites')

SyntaxError: invalid syntax (<ipython-input-108-bdcc4127f27a>, line 6)